@font-face{
    font-family: 'futura-bk-bt-book';
    src: url('fonts/futura-bk-bt-book.ttf');
  }

@font-face{
    font-family: 'futura-xblk-bt';
    src: url('fonts/futura-xblk-bt.ttf');
  }
html{
  overflow-x: hidden;
}
body {
  margin: 40px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  background-color: #80141B;
}
.fade-out {
    opacity: 0;
  }
  
.fade-in {
    opacity: 1;
  }
#answers button {
    font-family: futura-bk-bt-book, sans-serif;
    display: block;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
    width: 25rem;
    font-size: 0.875rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

#answers{
    position: absolute;
    bottom: 7rem;
}

#answers button:hover{
    filter: brightness(3);
    transform: scale(1.02);
    transition: all 0.1s ease;
}
#backBtn {
    cursor: pointer;
}

#backBtn :hover {
    filter: brightness(1.5);
    transform: scale(1.02);
    transition: all 0.1s ease;
}

#homeBtn :hover {
    filter: brightness(1.5);
    transform: scale(1.02);
    transition: all 0.1s ease;
}

#endBtn{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.625rem;
    text-decoration: none;
    font-family: futura-bk-bt-book, sans-serif;
}

#endBtn:hover {
    filter: brightness(1.5);
    transform: scale(1.02);
    transition: all 0.1s ease;
}

#questionContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    padding: 0.25rem;
    margin-top: 1rem;
    z-index: 3;
    overflow-x: hidden;
}

#questionText{
    font-family: futura-bk-bt-book, sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

#bottom-bar{
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    left: 0;
    z-index: 3;
}

.top-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
#number{
    font-family: futura-xblk-bt, sans-serif;
    font-size: 1rem;
    text-align: right;
}

#background-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 2rem;
    z-index: -1;
}


#squiggle-right{
    position: absolute;
    right: 0;
    bottom: 1rem;
    z-index: -1;
}
#squiggle-left{
    position: absolute;
    left: 0;
    bottom: 1rem;
    z-index: -1;
}

#bottom{
    position:absolute;
    bottom: 0;
    left: 50%;
    right:50%;
    transform: translate(-50%, 0%);
    z-index: -1;
}



#fireflies {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Behind content */
  }

  .bigway-logo{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
  .firefly {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    background: rgba(255, 255, 219, 0.6);
    mix-blend-mode:color-burn;
    border-radius: 50%;
    animation: float 10s linear infinite, flicker 2s infinite;
    opacity: 0.7;
    z-index: 0;
  }
  
  @keyframes float {
    0% {
      transform: translate(0, 0) scale(1);
    }
    100% {
      transform: translate(var(--x), var(--y)) scale(0.9);
    }
  }
  
  @keyframes flicker {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
  }


  





